<%- include ('../../layout/head') %>
<%- include ('../../layout/header') %>

<body>
  <form action="<%= `/edit/${book.isbn13}?_method=PUT` %>" method="post">
    <input name="title" value="<%= book.title %>" placeholder="<%= book.title"></input>
    <input name="author" value="<%= book.author %>" placeholder="<%= book.author"></input>
    <input name="publisher" value="<%= book.publisher %>" placeholder="<%= book.publisher"></input>
    <input name="publisheddate" value="<%= book.publishedDate %>" placeholder="<%= book.publishedDate %>"> </input>
    <input name="description" value="<%= book.description %>" placeholder="<%= book.description %>"> </input>
    <input name="isbn13" value="<%= book.isbn13 %>" placeholder="<%= book.isbn13 %>"></input>
    <input name="pagecount" value="<%= book.pageCount %>" placeholder="<%= book.pageCount %>"></input>
    <input name="bookshelf" value="<%= book.bookshelf %>" placeholder="<%= book.bookshelf%>"></input>
    <input name="averagerating" value="<%= book.averageRating %>" placeholder="<%= book.averageRating %>"></input>
    <input name="image_url" value="<%= book.image_url%>" placeholder="<%= book.image_url %>"></input>
    <button type="submit">Add to Bookshelf</button>
  </form>

</body>

</html>