<article>
  <p>Your bookshelf contains <%= bookArray.length %> books</p>
</article>
<% bookArray.forEach(book => { %>
<article>
  <img src="<%= book.image_url%>" alt="<%= book.title %>">
  <h2><%= book.title %></h2>
  <h4><%= book.author %></h4>
  <a href="/edit/<%= book.isbn13 %>">View Details/Edit</a>
</article>
<% }) %>